services:

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  app:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
      - PORT=:8080
      - RATELIMIT=5
      - MODE=redis
    depends_on:
      - redis